.main{
    min-height: 1000px;
    background-color: #e6e6e6;
    padding: 70px 0px 70px 30px;

}
.body{
    display: grid;
    grid-template-columns: auto 300px;
    row-gap: 40px;
    grid-template-areas: 
    "content sidebar";

}
